.fullHit {
   -fx-background-color: greenyellow;
   -fx-border-color: gray;
   -fx-border-width: 2;
}

.halfHit {
   -fx-background-color: yellow;
   -fx-border-color: gray;
   -fx-border-width: 2;

}

.labelsAndButtons {
    -fx-background-color: #ececec;
    -fx-border-color: gray;
    -fx-border-width: 2;
}

.formsGeneral {
    -fx-background-color: lightgray;
    -fx-border-color: gray;
    -fx-border-width: 2;
}

#btnBall, #btnShamrock, #btnLeaf, #btnHeart, #btnSquare, #btnDiamond, #btnGithub, #btnFacebook, btnLinkedin  {
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#btnBall {
    -fx-background-image: url("/img/854.png");
}

#btnShamrock {
    -fx-background-image: url("/img/djetelina54.png");
}

#btnLeaf {
    -fx-background-image: url("/img/list54.png");
}

#btnHeart {
    -fx-background-image: url("/img/srce54.png");
}

#btnSquare {
    -fx-background-image: url("/img/baklava54.png");
}

#btnDiamond {
    -fx-background-image: url("/img/dijamant54.png");
}

#btnGithub {
    -fx-background-image: url("/img/githubIcon.png");
}

#btnFacebook {
    -fx-background-image: url("/img/facebookIcon.png");
}

#btnLinkedin {
    -fx-background-image: url("/img/linkedinIcon.png");
}