.fullHit {
   -fx-background-color: greenyellow;
   -fx-border-color: gray;
   -fx-border-width: 2;
}

.halfHit {
   -fx-background-color: yellow;
   -fx-border-color: gray;
   -fx-border-width: 2;
}

.labelsAndButtons {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-width: 2;
}

.formsGeneral {
    -fx-background-color: lightgray;
    -fx-border-color: gray;
    -fx-border-width: 2;
}

#btnBall {
    -fx-background-image: url("/img/854.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#btnShamrock {
    -fx-background-image: url("/img/djetelina54.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#btnLeaf {
    -fx-background-image: url("/img/list54.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#btnHeart {
    -fx-background-image: url("/img/srce54.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#btnSquare {
    -fx-background-image: url("/img/baklava54.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#btnDiamond {
    -fx-background-image: url("/img/dijamant54.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}